{% extends "layout.html" %}

{% block title %}
hpFEM.org: Research articles about Hermes
{% endblock %}

{% block content %}

                <h1 class="heading">Research articles about Hermes</h1>

Hermes is based on original research results. The following 
list of publications related to Hermes may be 
slightly outdated as the research goes on. For most papers, 
manuscripts can be 
downloaded from <a href="http://hpfem.math.unr.edu/people/pavel/public.html">Pavel Solin's home page</a>.<br><br>

<font color=purple><b>Books</b></font> 
                <ul>
                <li>
P. Solin: Partial Differential Equations and the Finite Element Method,
J. Wiley & Sons, 2005.
                </li>
                <li>
P. Solin, K. Segeth, I. Dolezel: Higher-Order Finite Element Methods, Chapman & Hall / CRC Press, 2003. 
                </li>
</ul>

<font color=purple><b>Refereed journal papers</b></font> 
                <ul>
                <li>
L. Dubcova, P. Solin, J. Cerveny, P. Kus: Space and Time Adaptive Two-Mesh hp-FEM for Transient Microwave Heating Problems, submitted to Electromagnetics, Fall 2008.
                </li>
                <li>
P. Solin, L. Dubcova, J. Cerveny, I. Dolezel: Adaptive hp-FEM with Arbitrary-Level Hanging Nodes for Maxwell's Equations, submitted to Math. Comput. Simul., September 2008.
                </li>
                <li>
P. Solin, J. Cerveny, L. Dubcova, D. Andrs: Adaptive Multi-Mesh hp-FEM for Linear Thermoelasticity, submitted to J. Comput. Appl. Math, September 2008.
                </li>
                <li>
P. Solin, D. Andrs: On Scientific Data and Image Compression Based on Adaptive Higher-Order FEM, Advances in Applied Mathematics and Mechanics, Vol. 1, No. 1, pp. 56 - 68 (2009).
                </li>
                <li>
P. Kus, P. Solin, I. Dolezel: Solution of 3D singular electrostatics problems using adaptive hp-FEM, COMPEL, Vol. 27/3, 2008, in press. 
                </li>
                <li>
T. Vejchodsky, P. Solin: Static Condensation, Orthogonalization of Bubble Functions, and ILU Preconditioning in the hp-FEM, J. Comput. Appl. Math., Vol 218/1, pp. 192-200, 2008.
                </li>
                <li>
P. Solin, J. Cerveny, I. Dolezel: Arbitrary-Level Hanging Nodes and Automatic Adaptivity in the hp-FEM, Math. Comput. Simul. 77 (2008), 117 - 132.
                </li>
                <li>
M. Zitka, P. Solin, T. Vejchodsky, F. Avila: Imposing Orthogonality to Hierarchic Higher-Order Finite Elements, Math. Comput. Simul. 76 (2007) 211 - 217
                </li>
                <li>
P. Solin, T. Vejchodsky: Higher-Order Finite Elements Based on Generalized Eigenfunctions of the Laplacian, Int. J. Numer. Methods Engrg 73 (2007), 1374 - 1394.
                </li>
                <li>
P. Solin, T. Vejchodsky, M. Zitka: Orthogonal hp-FEM for Elliptic Problems Based on a Non-Affine Concept. In: Numerical Mathematics and Advanced Applications (Proceedings of ENUMATH 2005; A. Bermudez, D. Gomez, P. Quintela, P. Salgado Eds.), Springer, 2006, pp. 683 - 690. 
                </li>
                <li>
T. Vejchodsky, P. Solin, M. Zitka: On Some Aspects of the hp-FEM for Time-Harmonic Maxwell's Equations. In: Numerical Mathematics and Advanced Applications (Proceedings of ENUMATH 2005; A. Bermudez, D. Gomez, P. Quintela, P. Salgado Eds.), Springer, 2006, pp. 691 - 699. 
                </li>
                <li>
T. Vejchodsky, P. Solin, M. Zitka: Modular hp-FEM System HERMES and Its Application to the Maxwell's Equations, Math. Comput. Simul. 76 (2007) 223 - 228.
                </li>
                <li>
P. Solin, K. Segeth: A New Sequence of Hierarchic Prismatic Elements Satisfying the De Rham Diagram on Hybrid Meshes, J. Numer. Math. 13 (2005), No. 4, pp. 295-318. 
                </li>
                </ul>

{% endblock %}
