{% extends "layout.html" %}

{% block content %}
		<h1 class="heading">Contact</h1>
                <p>This web page is maintained by the <a href="http://hpfem.math.unr.edu">hp-FEM group</a> at
                   the <a href="http://www.unr.edu">University of Nevada, Reno</a>. Postal address:
                   Department of Mathematics and Statistics, University of Nevada, Reno - 1664 N. 
                   Virginia St., Reno, NV 89557-0208. Phone (775) 784-4642, fax (775) 784-6378.
                </ul>
	</div>
{% endblock %}
