{% extends "layout.html" %}

{% block title %}
hpFEM.org: Discussion
{% endblock %}

{% block content %}
		<h1 class="heading">Open discussion forum</h1>
        <p>Our main discussion forum related to hp-FEM and Hermes in general
        is: <a href="http://groups.google.com/group/hermes-dev">http://groups.google.com/group/hermes-dev</a></p>
        <p>
        Then there are lists particularly for <a
            href="http://groups.google.com/group/hermes2d">hermes2d</a> and <a href="http://groups.google.com/group/hermes3d">hermes3d</a>. You are
        welcome to join any of those lists.</p>

{% endblock %}
