{% extends "layout.html" %}

{% block title %}
hp-FEM: Other FEM codes
{% endblock %}

{% block content %}
		<h1 class="heading">Hermes project</h1>
                <p>We list all opensource (<a href="http://www.opensource.org/">OSI</a> approved license) FEM codes that we know of:

                <ul>
                        <li><a href="http://libmesh.sf.net/">libMesh</a></li>
                        <li><a href="http://sfepy.org/">SfePy</a></li>
                        <li><a href="http://dealii.org/">deal.II</a></li>
                        <li><a href="http://fenics.org/">FEniCS Project</a></li>
                        <li><a href="http://oofem.org/">OOFEM</a></li>
                </ul> 
If you know of any other opensource code that is not listed here, please let us know.
{% endblock %}
