{% extends "layout.html" %}

{% block title %}
hp-FEM: Other hp-FEM codes
{% endblock %}

{% block content %}
		<h1 class="heading">FEM resources</h1>
                <p>Among the internet FEM resources we like the best are the following:

                <ul>
                        <li><a href="http://homepage.usask.ca/~ijm451/finite/fe_resources/">Internet Finite Element Resource (IFER) </a>  -- conferences and courses, newsgroups, homepages, tutorials, libraries, mesh generation and visualization tools, books, etc.</li>
                        <li><a href="http://en.wikipedia.org/wiki/List_of_finite_element_software_packages">Wikipedia list of FEM packages</a>  </li>
                        <li><a href="http://www-math.cudenver.edu/~lfranca/links/fem_people.html">Finite Element People</a>  </li>
                       
                </ul> 
If you know of any other quality sites worth including here, please let us know.
{% endblock %}
