{% extends "layout.html" %}

{% block title %}
hp-FEM: Hermes project
{% endblock %}

{% block content %}
		<h1 class="heading">Hermes project</h1>
                <p><strong>Hermes</strong> is a free C++/Python library for rapid prototyping of adaptive FEM and hp-FEM solvers 
                available under the <a href="http://www.gnu.org/licenses/gpl-2.0.txt">GPL license</a> (Version 2, 1991).
                The library has a clean design and modular structure. The following unique features make Hermes 
                different from other FEM and hp-FEM codes:
                <ul>
                <li><b>PDE-independent adaptivity algorithms</b>: Hermes does not use any analytic information 
                about the underlying PDE to guide automatic adaptivity. This means that any PDE that can be solved 
                using finite elements, can be solved in Hermes using automatic hp-adaptivity. Because of 
                this, Hermes can solve adaptively arbitrary combinations of multiphysics PDE systems.</li>
                <li><b>Arbitrary-level hanging nodes</b>: This technique makes element refinements completely local. 
                In other words, the refinement of an element in the mesh never causes its neighbors to be refined. 
                This greatly simplifies adaptive algorithms.</li>
                <li><b>Adaptive multimesh hp-FEM</b>: This technique makes it possible to approximate various 
                solution components (such as various physical fields or various eigenfunctions) on 
                individual meshes equipped with mutually independent adaptivity mechanisms. Still, the 
                discretization is monolithic and there is no projection error between meshes. 
                This has a huge positive impact on the efficiency and accuracy of multiphysics,
                eigenvalue, and other computations involving multiple solution components. </li>
                <li><b>Space-time adaptive hp-FEM on dynamical meshes</b>: So far, Hermes is the only hp-FEM
                code capable of space-time hp-adaptivity for time-dependent problems. Our novel technique 
                is based on a combination of the multimesh hp-FEM with the classical Rothe's method. 
                See sample <a href="http://hpfem.math.unr.edu/gallery/">computational videos</a> for 
                illustration.</li>  
                </ul>
                <p>
 
                <b>Home pages</b> of the 1D, 2D and 3D versions of Hermes:
                <ul>
                        <li><a href="#">Hermes1D</a> (not available yet)</li>
                        <li><a href="http://hpfem.math.unr.edu/projects/hermes2d">Hermes2D</a></li>
                        <li><a href="http://hpfem.math.unr.edu/bugs/projects/show/hermes3d">Hermes3D</a></li>
                </ul>
{% endblock %}
