{% extends "layout.html" %}

{% block title %}
hp-FEM: Hermes project
{% endblock %}

{% block content %}
		<h1 class="heading">Hermes over the web</h1>
                <p><strong>Hermes</strong> has a free web portal that allows anyone 
                to use it without undergoing installation, and even without using his 
                own computer.
                The PDE model is entered through a web browser, sent to our computer,
                solved there, and sent back. This can be done from any classroom or 
                internet cafe.
                <p>
 
                <b>Access</b> the <a href="http://nb.hpfem.org:8000/">Hermes over the web</a> portal.

{% endblock %}
