{% extends "layout.html" %}

{% block content %}
		<h1 class="heading">Hermes project</h1>
                <p><strong>Hermes</strong> is a free C++/Python library of adaptive hp-FEM algorithms.
                The following links will lead you to the 1D, 2D and 3D versions of the library:
                <ul>
                        <li><a href="#">Hermes1D</a> (not available yet)</li>
                        <li><a href="http://hpfem.math.unr.edu/projects/hermes2d">Hermes2D</a></li>
                        <li><a href="http://hpfem.math.unr.edu/bugs/projects/show/hermes3d">Hermes3D</a></li>
                </ul>
{% endblock %}
