{% extends "layout.html" %}

{% block title %}
hp-FEM: Other hp-FEM codes
{% endblock %}

{% block content %}
		<h1 class="heading">Other hp-FEM codes</h1>
                <p>Besides Hermes, there are very few hp-FEM codes we are aware of:
                <ul>
                        <li><a href="http://www.concepts.math.ethz.ch/">Concepts</a> (developed by Ph.D. students at SAM, ETH Zurich)</li>
                        <li><a href="http://users.ices.utexas.edu/~leszek/hp-instructions.html">1Dhp90, 2Dhp90, 3Dhp90</a> (developed by L. Demkowicz at UT Austin)</li>
                </ul> 
If you know of any other hp-FEM code that is not listed here, 
free or commercial, please let us know.
{% endblock %}
