{% extends "layout.html" %}

{% block title %}
hpFEM.org: What is hp-FEM?
{% endblock %}

{% block content %}
                <h1 class="heading">What is hp-FEM?</h1>
                <font color=purple><b>hp-FEM</b></font> is a modern 
version of the Finite Element Method (FEM), which combines
adaptively finite elements of variable size (h) and polynomial 
degree (p). With a good adaptivity algorithm, the hp-FEM 
attains extremely fast (exponential) convergence rates.
Sample hp-FEM mesh is shown in the following image which 
corresponds to a flame propagation problem (enlarge using 
right click + view image). 

<p>

<center>
<img src="images/flame.jpg" width=500px/>
</center>
<br>

<p>



The hp-FEM takes minutes where standard FEM takes hours or days. 
However, adaptive hp-FEM codes are rather scarce since the hp-FEM
is more demanding than standard FEM from both the mathematical 
and programming point of view. </p>

<p>
<font color=purple><b>Example</b></font>:
The following graph corresponding to the <a href="http://en.wikipedia.org/wiki/Hp-FEM">Fichera corner problem</a>
is a representative example of the huge difference in convergence
rates of
adaptive low-order FEM (with linear and quadratic elements) and the
hp-FEM. The horizontal and vertical axes show the number of degrees
of freedom (unknowns in the discrete problem) and the error in
logarithmic scale, respectively.

<center>
<img src="images/conv-new2.png" width=500px/>
</center>

<p>
                <font color=purple><p><b>hp-FEM on Wikipedia</b></font>: Visit the <a href="http://en.wikipedia.org/wiki/Hp-FEM">Wikipedia hp-FEM page</a>.



{% endblock %}
