{% extends "layout.html" %}

{% block content %}
		<h1 class="heading">hp-FEM</h1>
		<p><strong>hp-FEM</strong> is a modern version of the Finite Element Method (FEM), which is superior 
                to standard (low-order) FEM due to its extremely fast <em>exponential</em> convergence. The hp-FEM is more 
                demanding than standard FEM from both the mathematical and programming point of view. Therefore,
                hp-FEM codes are rather scarce.  </p>

		<p><strong>Our mission</strong> is to disseminate the hp-FEM broadly and to create an open-source
                environment that eventually will become an alternative to old commercial FEM codes. </p>
{% endblock %}
