<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}hp-FEM: Free Adaptive Higher-Order Finite Element Methods{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<h1><a href="#">hpFEM.org</a></h1>
	<h2><a href="http://www.freecsstemplates.org/">free adaptive higher-order<br> finite element methods</a></h2>
</div>
<div id="left">
	<div id="menu" class="boxed">
		<h2 class="heading">Pages</h2>
		<ul>
			<li class="first"><a href="index.html" title="">hp-FEM</a></li>
			<li><a href="hermes.html" title="">Hermes project</a></li>
			<li><a href="#" title="">Hermes over the Net</a></li>
			<li><a href="#" title="">Other hp-FEM codes</a></li>
			<li><a href="femcodes.html" title="">Other FEM codes</a></li>
			<li><a href="#" title="">FEM resources</a></li>
			<li><a href="#" title="">Discussion</a></li>
			<li><a href="contact.html" title="">Contact</a></li>
		</ul>
	</div>
</div>
<!-- end #left -->
<div id="right">
	<div class="boxed">
		<h2 class="heading">News</h2>
		<ul>
			<li>This webpage is under construction, please be patient.</li>
		</ul>
	</div>
</div>
<!-- end #right -->
<div id="center">
	<div class="boxed">
        {% block content %}
        {% endblock %}
	</div>
</div>
<!-- end #center -->
<div style="clear: both;">&nbsp;</div>
<div id="footer">
	<p id="legal">Hosted by the <a href="http://hpfem.math.unr.edu">hp-FEM group</a> 
at the <a href="http://www.unr.edu">University of Nevada, Reno</a>.</p>
<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
<!--	<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>-->
</div>
</body>
</html>
